h1, h2, p {font-family:Arial, Helvetica, sans-serif;
font-weight: lighter;}

.middle-container {
    background-color: white;
    margin-top: 100px;
    position: relative;}

body {margin: 0;}

h2 {
    text-align: left; 
    font-size: 1rem;
    line-height: 2;
    margin: 100px auto 100px auto;
    width:50%;}

h1 {
    color:#FEE440; 
    text-align: center; 
    font-size:large; 
    background-color: black; 
    padding:70px 0px 0px; 
    height: 100px; 
    margin-top: 0;}

.head {
    background-color:#F9F3DF; 
    margin:auto; 
     width: 50%;
     height:40%;
     padding:none;
     margin-top: 0;
     margin-bottom: 5px;
box-sizing: border-box;}

.image {
    margin-top: -70px; 
    width: 100px;
    height:100px;
    margin-left: 600px;
    
    }



a{
    color:rgb(100, 100, 100);
}
a:hover{
    background-color: #FEE440;
}

.lastheading{
    font-size:120%;
}

.line{
    color:rgb(100, 100, 100);
  
}

p{
    font-size: 1rem;
}
   
